@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sedgwick+Ave+Display&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pre-defined colors */
/* Use this to predefine all the color of the headers. */
:root {
    --quote-text: #C988C6;
    --text-color: #000000;
    --background-color: #FEF3FF;
    --pink-paragraph: pink;
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    /* 1 */
    line-height: inherit;
    /* 2 */
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
}

p {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    margin: auto;
}

/* SECTION */
section {
    margin: 4rem 0;
}

/* SHOWCASE Section */
.showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.showcase img {
    height: auto;
    width: 100vw;
    padding-bottom: 2rem;
}

.showcase p {
    color: #C988C6;
}

.showcase .slideshow-dot {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: var(--text-color);
}

/* ABOUT US Section */
.about-us{
    display: grid;
    grid-template-columns: 2fr 4fr;
    text-align: center;
    margin: auto;
    width: 100%;
}

.about-us h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
    background: linear-gradient(90deg, rgba(103, 58, 183, 0.66) 0%, rgba(158, 29, 29, 0.91) 100%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    margin: 3rem 0;
    text-align: center;
}

.about-us p {
    font-size: 2.2rem;
}

.about-us img {
    width: 100%;
    height: auto;
    margin: auto;
}

/* OUR MISSION Section */
.our-mission {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.our-mission p {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-mission h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.6;
    background: linear-gradient(90deg, rgba(103, 58, 183, 0.66) 0%, rgba(158, 29, 29, 0.91) 100%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    margin: 3rem 0;
    text-align: center;
}

.our-mission img {
    width: 100%;
    height: auto;
    margin: auto;
}

.our-mission .quote {
    font-size: 35px;
}

.our-mission .pink-paragraph {
    font-weight: 500;
    color: var(--pink-paragraph);
}

.our-mission .quote-author {
    font-size: 1rem;
}

.our-mission .six-ladies {
    display: grid;
    grid-template-columns: 4fr 2fr;
    text-align: center;
    margin: auto;
    padding: 6rem 0;
}

.our-mission .six-ladies img {
    width: 100%;
    height: auto;
    margin: auto;
}

.our-mission .six-ladies .flex-1, .our-mission .four-women .flex-2 {
    display: flex;
    flex-direction: column;
}

.our-mission .four-women {
    display: grid;
    grid-template-columns: 2fr 4fr;
    text-align: center;
    margin: auto;
}

/* This is the color of most of the headers. */
.linear-text-gradient h2 {
    font-size: 2rem;
    line-height: 1.6;
    background: linear-gradient(90deg, rgba(103, 58, 183, 0.66) 0%, rgba(158, 29, 29, 0.91) 100%);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
}

/* Tables responsiveness for the width of screen not greater than 760px */
@media screen and (max-width: 760px) {
    /* SECTION */
    section {
        margin: 2rem 0;
    }
    p {
        font-size: 1.8rem;
    }

    .showcase p, .about-us p, .our-mission p, .events p {
        font-size: 1.2rem;
    }

    .showcase h2, .about-us h2, .our-mission h2, .events h2 {
        font-size: 2.4rem;
    }

    .about-us {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our-mission img {
        width: 100%;
        height: 50vh;
        margin: auto;
    }

    .our-mission .six-ladies, .our-mission .four-women {
        display: flex;
        flex-direction: column;
    }

    .our-mission .four-women {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}

/* Mobile responsiveness for the width of screen not greater than 460px */
@media screen and (max-width: 460px) {
    /* SECTION */
    section {
        margin: 2rem 0;
    }
    p {
        font-size: 1.8rem;
    }

    .showcase p, .about-us p, .our-mission p, .events p {
        font-size: 1.2rem;
    }

    .showcase h2, .about-us h2, .our-mission h2, .events h2 {
        font-size: 2.4rem;
    }

    .about-us {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .our-mission img {
        width: 100%;
        height: 50vh;
        margin: auto;
    }

    .our-mission .six-ladies, .our-mission .four-women {
        display: flex;
        flex-direction: column;
    }

    .our-mission .four-women {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}