@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sedgwick+Ave+Display&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    padding: 0 35px; 
    background: rgb(228, 220, 220); 
}  */


.btn {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
}

.btn::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn:hover::before {
    width: 105%;
}

.btn:hover {
    color: #111;
}

.collapse>ul {
    font-size: 17px;
}

.nav-link {
    font-family: monospace;
}

.navbar-brand {
    font-family: monospace;
    color: #17C3B2;
}

.navbar-brand:hover {
    color: white;
}

#span-clr {
    color: #17C3B2;
}

h5,
h2 {
    font-family: monospace;
}

#gender-main {
    background-color: rgba(63, 141, 134, 0.7);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    ;
    border-radius: 0px 20px 0px 20px;

}

#gender-img img {
    border-radius: 0px 20px 0px 20px;
}

.quote {
    font-size: 80px;
    width: 50%;
}

#women-mission{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 0px 20px 0px 20px;
}

#member-say{
    background-color: rgba(63, 141, 134, 0.7);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 0px 20px 0px 20px;
}

/* Card Slider */

.wrapper { 
    max-width: 1100px; 
    width: 95%; 
    position: relative; 
  
} 
  
.wrapper i { 
    height: 50px; 
    width: 50px; 
    background: #17C3B2; 
    text-align: center; 
    line-height: 50px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    font-size: 1.25 rem; 
    transform: translateY(-50%); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
} 
  
.wrapper i:first-child { 
    left: -22px; 
  
} 
  
.wrapper i:last-child { 
    right: -22px; 
  
} 
  
.wrapper .carousel { 
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: calc((100% / 3) - 12px); 
    gap: 16px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0; 
} 
  
.carousel::-webkit-scrollbar { 
    display: none; 
} 
  
.carousel :where(.card, .img) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
  
.carousel.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
} 
  
.carousel.no-transition { 
    scroll-behavior: auto; 
} 
  
.carousel.dragging .card { 
    cursor: grab; 
    user-select: none; 
} 
  
.carousel .card { 
    scroll-snap-align: start; 
    height: 340px; 
    list-style: none; 
    /* background: #fff;  */
    border-radius: 8px; 
    display: flex; 
    cursor: pointer; 
    width: 98%; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
} 
  
.card .img { 
    background: #17C3B2; 
    width: 145px; 
    height: 145px; 
    border-radius: 50%; 
  
} 
  
.card .img img { 
    width: 140px; 
    height: 140px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 4px solid #fff; 
} 
  
.card h2 { 
    font-weight: 500; 
    font-size: 1.56rem; 
    margin: 30px 0 5px; 
} 
  
.card span { 
    color: #6a6d78; 
    font-size: 1.31rem; 
  
} 
  
@media screen and (max-width: 900px) { 
    .wrapper .carousel { 
        grid-auto-columns: calc((100% / 2) - 9px); 
  
    } 
} 
  
@media screen and (max-width: 600px) { 
    .wrapper .carousel { 
        grid-auto-columns: 100%; 
  
    } 
}